networks:
  proxy-pocket-id:
    external: true

volumes:
  data:

services:
  pocket-id:
    container_name: 'pocket-id'
    image: 'ghcr.io/pocket-id/pocket-id:v1'
    restart: 'unless-stopped'
    networks:
      - 'proxy-pocket-id'
    volumes:
      - 'data:/app/data'
    environment:
      - 'APP_URL=https://auth.home.bojanstipic.com'
      - 'TRUST_PROXY=true'
      - 'ANALYTICS_DISABLED=true'
