home.bojanstipic.com {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    redir https://auth.home.bojanstipic.com
}

*.home.bojanstipic.com {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    @auth host auth.home.bojanstipic.com
    handle @auth {
        reverse_proxy pocket-id:1411
    }

    }
}
