networks:
  proxy-pocket-id:
    external: true
  proxy-immich:
    external: true

volumes:
  data:

configs:
  config:
    file: './Caddyfile'

services:
  caddy:
    container_name: 'caddy'
    build:
      dockerfile: 'Dockerfile'
      args:
        VERSION: 2
    restart: 'unless-stopped'
    networks:
      default: {}
      proxy-pocket-id: {}
      proxy-immich:
        aliases:
          - 'auth.home.bojanstipic.com'
    ports:
      - '192.168.1.2:443:443'
      - '192.168.1.2:443:443/udp'
    volumes:
      - 'data:/data'
    configs:
      - source: 'config'
        target: '/etc/caddy/Caddyfile'
    env_file: '.env'
