networks:
  internal:
    internal: true
  proxy-immich:
    external: true

volumes:
  model-cache:

services:
  immich:
    container_name: 'immich'
    image: "ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}"
    restart: 'unless-stopped'
    networks:
      - 'internal'
      - 'proxy-immich'
    volumes:
      - "${UPLOAD_LOCATION}:/data"
      - '/etc/localtime:/etc/localtime:ro'
    env_file: '.env'
    depends_on:
      - 'redis'
      - 'database'
    healthcheck:
      disable: false

  immich-machine-learning:
    container_name: 'immich_machine_learning'
    image: "ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}"
    restart: 'unless-stopped'
    networks:
      - 'internal'
    volumes:
      - 'model-cache:/cache'
    env_file: '.env'
    healthcheck:
      disable: false

  redis:
    container_name: 'immich_redis'
    image: 'docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f'
    restart: 'unless-stopped'
    networks:
      - 'internal'
    healthcheck:
      test: 'redis-cli ping || exit 1'

  database:
    container_name: 'immich_postgres'
    image: 'ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23'
    restart: 'unless-stopped'
    networks:
      - 'internal'
    volumes:
      - "${DB_DATA_LOCATION}:/var/lib/postgresql/data"
    environment:
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      POSTGRES_USER: "${DB_USERNAME}"
      POSTGRES_DB: "${DB_DATABASE_NAME}"
      POSTGRES_INITDB_ARGS: '--data-checksums'
      # Uncomment the DB_STORAGE_TYPE: 'HDD' var if your database isn't stored on SSDs
      # DB_STORAGE_TYPE: 'HDD'
    shm_size: '128mb'
